h1{
    margin-top: 40px;
    text-align: center;
}
h4{
    text-align: center;
    color: var(--secondary);
}
form{
    width: 50%;
    display: grid;
    text-align: center;
    margin: 50px auto;
    gap: 30px;
}
.submit-btn{
    width: 25%;
    margin: auto;
}
input, textarea{
    width: 80%;
}
textarea{
    height: 150px;
}
.event-image input{
    height: 200px;
}
label{
    font-size: 1.5rem;
    color: var(--primary);
}
.date-and-time, .location{
   display: flex;
   width: 100%;
   gap: 10px;
   flex-direction: column;
   justify-content: center;
}
.date-and-time input,
.location input{
    margin: auto;
}
@media only screen and (max-width: 768px) {
    form{
        width: 100%;
    }
    .submit-btn{
        width: 40%;
        margin: auto;
    }
    h1{
        margin-top: 100px;
        font-size: 1.8rem;
    }
}