.myevents-btn-container{
    width: 100%;
    display: flex;
    margin-top: 40px;;
    justify-content: center;
    gap: 10px;
}
.event-title {
  font-size: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.event-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-bottom: 1px solid lightgray;
}
/* .event-img:hover{
      transform: scale(110%);
  } */
.events-wrapper {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 30px;
}
.event-card {
  overflow: hidden;
  border: 1px solid lightgray;
  border-radius: var(--radius);
}
.event-details {
  padding: 10px 10px 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.event-btns {
  width: 100%;
  display: grid;
  gap: 5px;
}
.event-date,
.event-time,
.event-location,
.event-icon {
  color: gray;
  font-size: 0.8rem;
  display: flex;
  margin: auto 0;
  gap: 5px;
}
.date-time-loc {
  display: grid;
  margin-top: 5px;
  gap: 5px;
}

/* responsive section */
@media only screen and (max-width: 1280px) {
  .events-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 900px) {
  .event-img {
    height: 200px;
  }
}
@media only screen and (max-width: 768px) {
  .events-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .section .btn-container{
    width: 100%;
    display: flex;
    margin-top: 40px;
    justify-content: center;
    gap: 10px;
}
}
@media only screen and (max-width: 550px) {
  .events-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
